.gafete-bg {
  background: linear-gradient(135deg, #e0fff6 40%, #fffdfa 90%);
  min-height: 100vh;
}
.gafete-cara, .gafete-cara2 {
  border-radius: 2rem;
  box-shadow: 0 6px 28px 0 rgba(36,82,205,0.11), 0 1.5px 1px 0px #d3eaff inset;
  background: linear-gradient(150deg, #f9e5fe 60%, #e8ffff 100%);
  padding: 2.2rem 1.4rem;
  width: 330px;
  height: 475px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
.gafete-cara2 {
  background: linear-gradient(135deg, #f2f7fa 25%, #cbf6ff 100%);
  justify-content: center;
}
.gafete-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #07c7d9;
  background: #fff;
  margin-bottom: 18px;
}
.gafete-titulo {
  color: #6e37fa;
  font-weight: 700;
  font-size: 2.1rem;
  margin-bottom: 7px;
  letter-spacing: .9px;
  text-shadow: 0px 1px 7px #e6eaff;
}
.gafete-twitter {
  color: #207ba1;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 7px;
}
.gafete-ocupacion {
  background: #bbf3fd;
  color: #04576d;
  padding: 6px 24px;
  border-radius: 999px;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 11px;
}
.gafete-email {
  color: #757582;
  font-size: .95rem;
  margin-bottom: 12px;
}
.gafete-evento {
  color: #8c36fd;
  font-weight: 600;
  letter-spacing: 1.1px;
  font-size: 1.08rem;
  opacity: .85;
  margin-top: 16px;
}
.gafete-evento2 {
  color: #209bbd;
  font-weight: bold;
  font-size: 1.13rem;
  margin-bottom: 9px;
}
.gafete-nombre {
  color: #7b41cb;
  font-weight: bold;
  font-size: 1.23rem;
  margin-bottom: 17px;
  text-shadow: 0 2px 18px #e6fefe;
}
.gafete-univ {
  color: #333;
  text-align: center;
  margin-bottom: 14px;
  font-size: 1.04rem;
}
.gafete-instrucciones {
  margin-top: 2.3rem;
  font-size: 1.01rem;
  color: #555;
  opacity: .73;
  text-align: center;
  padding: 0 12px;
}