.participante-card {
  background: linear-gradient(120deg, #f0f8ff 60%, #ffeafd 100%);
  border-radius: 1.6rem;
  box-shadow: 0 2px 18px 0 rgba(36,82,205,.13), 0 1.5px 1px 0px #fff inset;
  border: none;
  margin-bottom: 2.2rem;
  transition: box-shadow .2s,transform .2s;
}
.participante-card:hover {
  box-shadow: 0 8px 32px 0 rgba(36,82,205,0.18), 0 1.5px 1px 0px #ecdaff inset;
  transform: translateY(-4px) scale(1.03);
}
.avatar-img {
  border: 4px solid #67e2ff;
  background: #efeaff;
}
.participante-nombre {
  color: #6e37fa;
  text-shadow: 0px 1px 7px #e6eaff;
  letter-spacing: 1px;
}
.participante-twitter {
  color: #43c5c3;
  font-weight: 500;
}
.participante-ocupacion {
  background: #f6fbea;
  color: #236e3a;
  padding: 3px 14px;
  border-radius: 999px;
  font-weight: 500;
  display: inline-block;
}